body {
  background: #1b1b1b;
  margin: 0;
  height: 100%;
  width: 100%;
}

h2 {
  position: absolute;
  margin: 0;
  margin-top: -5.2vw;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 90px;
  overflow: hidden;
  transform: translateY(23vh);
  z-index: 1;
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
  color: #26262676;
}

h3 {
  color: darkgrey;
}

.intro {
  color: whitesmoke;
  font-family: 'Quicksand';
  display: flex;
  align-items: center;
  transition: all .65s ease-out;
  background-color: #1f2329;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 50%;
}

.intro-left {
  justify-content: flex-end;
  right: 50%;
  left: 0px;
  z-index: 3;
}

.intro-right {
  right: 0px;
  left: 50%;
  z-index: 3;
}

.intro-left.open {
  transform: translateX(-100%);
}

.intro-right.open {
  transform: translateX(100%);
}

#maindiv {
  transition: opacity 1.5s;
}

#textdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#albumdiv {
  background-color: #1b1b1b;
  width: 99vw;
  height: 90vh;
}

#album {
  margin: 10px;
  width: 95vw;
  height: 30vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.photo {
  z-index: 2;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  background-size: 8em 8em !important;
  height: 8em;
  width: 8em;
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.photohover:hover {
  transform: scale(1.7);
  margin-top: 60px;
  z-index: 3;
}

.activePhoto#photo1 {
  transform: scale(3.4) translate(160%, 13vh) rotate(360deg);
}

.activePhoto#photo2 {
  transform: scale(3.4) translate(125%, 13vh);
}

.activePhoto#photo3 {
  transform: scale(3.4) translate(90%, 13vh);
}

.activePhoto#photo4 {
  transform: scale(3.4) translate(55%, 13vh);
}

.activePhoto#photo5 {
  transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(3.4) rotateY(360deg) translate(20%, 13vh);
}

.activePhoto#photo6 {
  transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(3.4) rotateY(360deg) translate(-20%, 13vh);
}

.activePhoto#photo7 {
  transform: scale(3.4) translate(-55%, 13vh);
}

.activePhoto#photo8 {
  transform: scale(3.4) translate(-90%, 13vh);
}

.activePhoto#photo9 {
  transform: scale(3.4) translate(-125%, 13vh);
}

.activePhoto#photo10 {
  transform: scale(3.4) translate(-160%, 13vh) rotate(-360deg);
}


#photo1 {
  background: url('img/1.jpeg');
}

#photo2 {
  background: url('img/2.jpeg');
}

#photo3 {
  background: url('img/3.jpeg');
}

#photo4 {
  background: url('img/4.jpeg');
}

#photo5 {
  background: url('img/5.jpeg');
}

#photo6 {
  background: url('img/6.jpeg');
}

#photo7 {
  background: url('img/7.jpeg');
}

#photo8 {
  background: url('img/8.jpeg');
}

#photo9 {
  background: url('img/9.jpeg');
}

#photo10 {
  background: url('img/10.jpeg');
}

#photo1.photohover:hover {
  margin-left: 50px;
}

#photo10.photohover:hover {
  margin-right: 50px;
}

@media screen and (max-width: 1500px) {
  .photo {
    height: 8vw;
    width: 8vw;
    background-size: 8vw 8vw !important;
  }
}

@media screen and (max-width: 1200px) {
  #album {
    flex-wrap: wrap;
  }

  .photo {
    height: 10vw;
    width: 10vw;
    background-size: 10vw 10vw !important;
  }


  .activePhoto#photo1 {
    transform: scale(3.4) translate(10vw, 13vh) rotate(360deg);
  }

  .activePhoto#photo2 {
    transform: scale(3.4) translate(8vw, 13vh);
  }

  .activePhoto#photo3 {
    transform: scale(3.4) translate(5.5vw, 13vh);
  }

  .activePhoto#photo4 {
    transform: scale(3.4) translate(1vw, 13vh);
  }

  .activePhoto#photo5 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(-2.2vw, 13vh);
  }

  .activePhoto#photo6 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(-5vw, 13vh);
  }

  .activePhoto#photo7 {
    transform: scale(3.4) translate(-8.3vw, 13vh);
  }

  .activePhoto#photo8 {
    transform: scale(3.4) translate(-12vw, 13vh);
  }

  .activePhoto#photo9 {
    transform: scale(3.4) translate(2.2vw, 10vh);
  }

  .activePhoto#photo10 {
    transform: scale(3.4) translate(-2.2vw, 10vh) rotate(-360deg);
  }

}


@media screen and (max-width: 960px) {
  #album {
    flex-wrap: wrap;
  }

  .photo {
    height: 12vw;
    width: 12vw;
    background-size: 12vw 12vw !important;
  }


  .activePhoto#photo1 {
    transform: scale(3.4) translate(10vw, 13vh) rotate(360deg);
  }

  .activePhoto#photo2 {
    transform: scale(3.4) translate(6vw, 13vh);
  }

  .activePhoto#photo3 {
    transform: scale(3.4) translate(2.6vw, 13vh);
  }

  .activePhoto#photo4 {
    transform: scale(3.4) translate(-1.8vw, 13vh);
  }

  .activePhoto#photo5 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(-6vw, 13vh);
  }

  .activePhoto#photo6 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(-9.5vw, 13vh);
  }

  .activePhoto#photo7 {
    transform: scale(3.4) translate(6vw, 9vh);
  }

  .activePhoto#photo8 {
    transform: scale(3.4) translate(2.5vw, 9vh);
  }

  .activePhoto#photo9 {
    transform: scale(3.4) translate(-2vw, 9vh);
  }

  .activePhoto#photo10 {
    transform: scale(3.4) translate(-6vw, 9vh) rotate(-360deg);
  }

}


@media screen and (max-width: 760px) {

  h2{
    font-size: 70px;
  }
  #album {
    flex-wrap: wrap;
  }

  .photo {
    height: 15.5vw;
    width: 15.5vw;
    background-size: 15.5vw 15.5vw !important;
  }


  .activePhoto#photo1 {
    transform: scale(3.4) translate(11vw, 14vh) rotate(360deg);
  }

  .activePhoto#photo2 {
    transform: scale(3.4) translate(5.5vw, 14vh);
  }

  .activePhoto#photo3 {
    transform: scale(3.4) translate(.5vw, 14vh);
  }

  .activePhoto#photo4 {
    transform: scale(3.4) translate(-5vw, 14vh);
  }

  .activePhoto#photo5 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(-10.2vw, 14vh);
  }

  .activePhoto#photo6 {
    transition: all 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(3.4) rotateY(360deg) translate(11vw, 10vh);
  }

  .activePhoto#photo7 {
    transform: scale(3.4) translate(5.5vw, 10vh);
  }

  .activePhoto#photo8 {
    transform: scale(3.4) translate(.5vw, 10vh);
  }

  .activePhoto#photo9 {
    transform: scale(3.4) translate(-5vw, 10vh);
  }

  .activePhoto#photo10 {
    transform: scale(3.4) translate(-10.2vw, 10vh) rotate(-360deg);
  }

}